// ==============================
// Override Variables
// 覆盖变量
// ==============================

// 正文字体：Noto Serif SC
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@400;500;600;700&display=swap");

// 代码字体：JetBrains Mono
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,400;0,700;1,400&display=swap");

$global-font-family:
  "Noto Serif SC",
  "Source Han Serif SC",
  "思源宋体 SC",
  "Songti SC",
  "PingFang SC",
  "Microsoft YaHei",
  serif;

$code-font-family:
  "JetBrains Mono",
  "Fira Code",
  "Fira Mono",
  "Menlo",
  "Monaco",
  monospace;

code,
kbd,
pre,
samp {
  font-family: $code-font-family !important;
  font-variant-ligatures: contextual;
  line-height: 1.6 !important;
  font-size: 0.92em !important;
}